body {
    background: #FFF;
}


/*
*Animated initial layer
*======================
*/

.animated-layer {
    width: 100%;
    height: 100%;
    position: fixed;
    top: -100%;
    left: 0;
    z-index: 500;
    background: #3f55a4;
    -webkit-animation-name: slide-up-preloader;
    /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 4s;
    /* Safari 4.0 - 8.0 */
    animation-name: slide-up-preloader;
    animation-duration: 4s;
}


/*
*Animation for preloader
*/


/* Safari 4.0 - 8.0 */

@-webkit-keyframes slide-up-preloader {
    0% {
        transform: translateY(100%);
    }
    25% {
        transform: translateY(100%);
    }
    50% {
        transform: translateY(100%);
    }
    75% {
        transform: translateY(-50%);
    }
    100% {
        transform: translateY(-100%);
    }
}

@keyframes slide-up-preloader {
    0% {
        transform: translateY(100%);
    }
    25% {
        transform: translateY(100%);
    }
    50% {
        transform: translateY(100%);
    }
    75% {
        transform: translateY(-50%);
    }
    100% {
        transform: translateY(-100%);
    }
}


/*
*Preloader animated logo
*/

.animated-logo {
    width: 250px;
    height: 250px;
    top: 50%;
    left: 50%;
    margin-top: -125px;
    margin-left: -125px;
    position: relative;
    -webkit-animation-name: logo-gets-big;
    /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 2s;
    /* Safari 4.0 - 8.0 */
    animation-name: logo-gets-big;
    animation-duration: 2s;
    transform-origin: bottom;
}


/*
*Animation for preloader logo
*/

@keyframes logo-gets-big {
    0% {
        transform: scale(0, 0);
        opacity: 0;
    }
    100% {
        transform: scale(1, 1);
        opacity: 1;
    }
}

@-webkit-keyframes logo-gets-big {
    0% {
        transform: scale(0, 0);
        opacity: 0;
    }
    100% {
        transform: scale(1, 1);
        opacity: 1;
    }
}


/*
*Header menu
*========================
*/

header {
    padding: 10px 20px;
    background: #3F55A4;
    display: flex;
    flex-direction: column;
}

.logo--container,
.mobile-nav--wraper {
    width: 65px;
}

.logo--container {
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.logo--container:hover {
    transform: scale(1.2, 1.2)
}

.mobile-nav--wraper {
    cursor: pointer;
    text-align: center;
    font-size: 40px;
    color: white;
}

.main-menu--container {
    padding: 0px 10px;
    display: flex;
    justify-content: space-between;
}

#menu-button {
    position: absolute;
    appearance: none;
    cursor: pointer;
    left: -100%;
    top: -100%;
}

nav {
    display: none;
    flex: 0 0 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    text-transform: uppercase;
    left: 0;
    width: 100%;
}

ul {
    list-style: none;
    margin: 0;
}

nav ul,
nav ul li {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
}

nav ul li span {
    line-height: 60px;
    padding: 0 20px;
}

nav ul a {
    color: black;
    width: 100%;
    text-align: center;
    text-align: -webkit-center;
}

nav ul li:hover a {
    font-weight: bold;
    color: #232d54;
}


/*COOL PHRASE SECTION
 =========================================================================== */

article {
    display: flex;
    flex-direction: column;
}

section {
    display: flex;
    flex-direction: column;
}

.cool-phrase--section {
    background: transparent;
}

.image-under-cool-phrase--container {
    /*background: url("../assets/img/mano_ss-01.svg");*/
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 100%;
    min-height: 665px;
    display: flex;
    justify-content: flex-end;
}

.cool-phrase--container {
    width: 40%;
    margin: 0 15%;
    text-align: right;
    position: relative;
}

.cool-phrase--container h1 {
    font-size: 35px;
    line-height: 35px;
    color: #7C7C7C;
    font-weight: bold;
    margin: 0;
}

.three-color-bar {
    height: 10px;
    width: 100px;
    z-index: 200;
    display: inline-flex;
}

.three-color-bar .yellow {
    width: 33%;
    background: #FFC000;
}

.three-color-bar .blue {
    width: 33%;
    background: #00BBFF;
}

.three-color-bar .pink {
    width: 33%;
    background: #FF007E;
}

.cool-phrase-author--container {}

.cool-phrase-author--container h2 {
    text-align: right;
    color: #FFF;
    font-size: 28px;
    font-style: italic;
}


/*WORKS SECTION
 =========================================================================== */

.works-intro--section {
    display: flex;
    background: #FFC000 url("../assets/img/forms/formas-20.svg") no-repeat center;
    color: white;
    flex-direction: column;
}

.works-intro-phrase--container {
    padding: 80px 40px;
}

.works-intro--title {
    padding-bottom: 10px;
}

.works-intro--title h2 {
    font-size: 110px;
    line-height: 110px;
    font-weight: bold;
}

.works-intro--title h2 p {
    line-height: 1em;
}

.works-intro--info p {
    font-size: 15px;
    line-height: 22px;
    font-weight: normal;
}

.works-list--container {
    display: flex;
    flex-direction: column;
    padding: 40px 9%;
    background: #FFC000;
}

.works-list {
    display: flex;
    flex-direction: row;
}

.works-list li {
    padding: 0 50px 30px 50px;
}

.work--container {
    display: flex;
    flex-direction: column;
}

.work--img {
    height: 80vw;
    width: 100%;
    background: #F16B68;
}

.work--info {
    padding-top: 5px;
}

.work--info__title {
    color: #fff;
    font-weight: bold;
    font-size: 30px;
    line-height: 30px;
}

.work--info__title h2 {
    margin: 0;
}

.work--info__desc {
    font-size: 12px;
    color: #fff;
}


/*ABOUT SECTION
 =========================================================================== */

.about--section {
    /*background: linear-gradient( rgba(0, 0, 255, 0.40), rgba(0, 0, 255, 0.40)), url("../assets/img/Pug_hero.jpg");*/
    background: #FFF;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    color: #888;
    display: flex;
    flex-direction: column;
}

.about--container {
    padding: 10px 30px;
    display: flex;
    flex-direction: column
}

.about--title h2 {
    font-size: 70px;
    line-height: 70px;
    font-weight: bold;
}

.about--title p {
    font-size: 15px;
    line-height: 25px;
    padding-bottom: 25px;
}

.about p {
    font-size: 15px;
    line-height: 25px;
    padding-bottom: 25px;
}

.about-end {
    display: flex;
    justify-content: flex-end;
}

.about-end p {
    font-weight: bold;
    font-size: 25px;
    line-height: 40px;
    padding: 35px 0 40px 0px;
    width: 70%
}


/* CONTACT US SECTION
   ========================================================================= */

.contact-us--section {
    display: flex;
    background: #3f55a4;
    color: white;
    flex-direction: column;
}

.contact-us--container {
    display: flex;
    padding: 0 15% 40px 18%;
    flex-direction: column;
    text-align: left;
    justify-content: center;
}

.contact-us--title {
    display: flex;
}

.contact-us--title h2 {
    font-size: 50px;
    line-height: 50px;
    font-weight: bold;
}

.contact-us--title h2 a {
    color: white;
}

.contact-us--image {
    background: url("../assets/img/kirby_brush_paint.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 250px;
    height: 250px;
    margin: 0 5%;
    border-radius: 50%;
    border: 10px solid white;
}


/* Footer
   ========================================================================= */

footer {
    color: white;
    display: flex;
}

.footer--container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.social-media--list li {
    font-size: 15px;
    line-height: 25px;
}

.contact-me--container {
    display: flex;
    flex-direction: row;
    background: #FFC000;
    background: -webkit-linear-gradient(top, transparent 50%, transparent, #FFC000, #FFC000 50%);
    width: 100%;
    justify-content: space-between;
}

.contact-me--container .contact-me-title {
    padding: 0 5%;
}

.contact-me--container .contact-me-title h2 {
    font-size: 80px;
    line-height: 35px;
}

.contact-me--container .contact-me-links {
    width: 40%;
}

.contact-me--container .contact-me-links ul {
    display: flex;
    flex-direction: row;
}

.contact-me--container .contact-me-links li {
    background: #FFC000;
    display: inline-block;
    height: 90px;
    width: 130px;
    border-top-left-radius: 130px;
    border-top-right-radius: 130px;
    text-align: center;
    margin: 0 5%;
    position: relative;
}

.contact-me--container .contact-me-links i {
    font-size: 40px;
    position: absolute;
    top: 15px;
    left: 55px;
}

.social-media--container {
    background: #FFC000;
    width: 100%;
}

.social-media--container .social-media--list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 35px 43%;
}

.social-media--container .social-media--list i {
    font-size: 40px;
}


/* RESPONSIVE
   ========================================================================= */


/* Móviles en horizontal o tablets en vertical
   ------------------------------------------------------------------------- */

@media (min-width: 768px) {
    header {
        padding: 35px 15% 20px 15%;
        background: transparent;
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
    }
    .nav-up {
        top: -120px;
    }
    .mobile-nav--wraper {
        display: none;
    }
    nav {
        display: flex !important;
        flex: 0 0 30%;
        align-self: flex-end;
    }
    nav ul {
        display: flex;
        flex-direction: row;
    }
    nav ul li a:before {
        background: #192757;
        content: "";
        height: 4px;
        width: 0%;
        left: 0;
        z-index: 203;
        opacity: 0;
        display: block;
        padding: 0 10px;
        margin: 0;
        -webkit-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
    }
    nav ul li:hover a:before {
        opacity: 1;
        width: 70%;
        -webkit-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
    }
    .cool-phrase--section {
        padding-top: 470px;
        padding-bottom: 20px;
    }
    /*--------WORKS SECTION 768px---------*/
    .works-list {
        width: 100%;
        padding: 0 1%;
    }
    .work--info__title h2 {
        font-size: 30px;
        line-height: 30px;
    }
    .work--img {
        height: 42vw;
    }
    .work--info__desc {
        padding-top: 5px;
        padding-left: 2px;
    }
    /* SPECIAL STYLES*/
    .half-height-tablet {
        height: 17vw;
    }
    /*Parallax*/
    .balls-crazy-parallax {
        position: absolute;
        top: 0;
        width: 100%;
        z-index: -100;
    }
    .balls-container {
        position: fixed;
        width: 100%;
    }
    .balls-container div[class*="ball-"] {
        background-size: 950px;
        position: absolute;
    }
    .ball-1 {
        background: url("../assets/img/balls/1.svg") no-repeat center;
        top: 160px;
        height: 150px;
        width: 150px;
        left: 15%;
    }
    .ball-2 {
        background: url("../assets/img/balls/2.svg") no-repeat center;
        height: 100px;
        width: 100px;
        top: 325px;
        left: 8%;
    }
    .ball-3 {
        background: url("../assets/img/balls/3.svg") no-repeat center;
        height: 400px;
        width: 400px;
        top: 380px;
        left: 4%;
    }
    .ball-4 {
        background: url("../assets/img/balls/4.svg") no-repeat center;
        top: 250px;
        height: 550px;
        width: 550px;
        left: 15%;
        z-index: 5;
    }
    .ball-5 {
        background: url("../assets/img/balls/5.svg") no-repeat center;
        top: 120px;
        height: 300px;
        width: 300px;
        left: 46%;
        z-index: 5;
    }
    .ball-6 {
        background: url("../assets/img/balls/6.svg") no-repeat center;
        top: 230px;
        height: 350px;
        width: 350px;
        left: 42%;
        z-index: 1;
    }
    .ball-7 {
        background: url("../assets/img/balls/7.svg") no-repeat center;
        top: 220px;
        height: 150px;
        width: 150px;
        left: 54%;
        z-index: 4;
    }
    .ball-8 {
        background: url("../assets/img/balls/8.svg") no-repeat center;
        top: 250px;
        height: 180px;
        width: 200px;
        left: 75%;
    }
    .ball-9 {
        background: url("../assets/img/balls/9.svg") no-repeat center;
        top: 540px;
        height: 450px;
        width: 450px;
        left: 19%;
    }
    .ball-10 {
        background: url("../assets/img/balls/10.svg") no-repeat center;
        top: 710px;
        height: 380px;
        width: 380px;
        left: 51%;
    }
    .ball-11 {
        background: url("../assets/img/balls/11.svg") no-repeat center;
        top: 910px;
        height: 290px;
        width: 290px;
        left: 50%;
    }
    .ball-12 {
        background: url("../assets/img/balls/12.svg") no-repeat center;
        top: 80px;
        height: 160px;
        width: 160px;
        left: 25%;
    }
    .ball-13 {
        background: url("../assets/img/balls/13.svg") no-repeat center;
        top: -125px;
        height: 350px;
        width: 350px;
        left: 24%;
    }
    /*Color Balls*/
    .color-balls-container {
        position: relative;
        width: 100%;
        z-index: -300;
    }
    .forms-layer {
        position: absolute;
        background: url("../assets/img/forms/formas-19.svg")no-repeat center;
        width: 100%;
        height: 1260px;
        z-index: -200;
    }
    .color-balls-container div {
        border-radius: 50%;
        position: absolute;
    }
    .ball-yellow {
        background: #FFC000;
        width: 425px;
        height: 425px;
        top: 950px;
        right: 200px;
    }
    .ball-blue {
        background: #00BBFF;
        width: 750px;
        height: 750px;
        top: -150px;
        right: -150px;
    }
    .ball-pink {
        background: #FF007E;
        width: 550px;
        height: 550px;
        top: 215px;
        top: 200px;
        left: -90px;
    }
}


/* Tablets en horizonal y escritorios normales
   ------------------------------------------------------------------------- */

@media (min-width: 1024px) {
    /*COOL PHRASE SECTION 1024px
 =========================================================================== */
    .image-under-cool-phrase--container {
        padding: 0;
        min-height: 650px;
    }
    .cool-phrase--container h1 {
        font-size: 50px;
        line-height: 75px;
    }
    .cool-phrase-author--container h2 {
        font-size: 30px;
        line-height: 30px;
        padding: 0 5%;
    }
    /* WORKS SECTION 1024px
    ======================================================================== */
    .works-intro-phrase--container {
        display: flex;
        flex-direction: column;
        padding: 80px 13% 0 13%;
    }
    .works-intro--title,
    .works-intro--info {
        width: 65%;
    }
    .work--info {
        padding-top: 5px;
    }
    .work--info__title h2 {
        font-size: 20px;
        line-height: 20px;
    }
    /* SPECIAL STYLES*/
    .half-height-laptop {
        height: 17vw;
    }
    .double-item-laptop {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 35%
    }
    .works-list li:not([class*='double-item-laptop']) {
        width: 65%;
    }
    /* ABOUT SECTION 1024px
    ======================================================================== */
    .about--container {
        padding: 15% 5%;
        display: flex;
        flex-direction: row;
    }
    .about--container div {
        padding: 10px;
        width: 33%;
    }
    /* CONTACT US SECTION 1024px
   ========================================================================= */
    .contact-us--section {
        margin-bottom: 10%;
        -webkit-box-shadow: 3px 3px 10px 0 rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 3px 3px 10px 0 rgba(0, 0, 0, 0.75);
        box-shadow: 3px 3px 10px 0 rgba(0, 0, 0, 0.75);
    }
    .contact-us--title h2 {
        font-size: 110px;
        line-height: 110px;
        font-weight: bold;
    }
    .contact-us--container {
        flex-direction: row;
        justify-content: space-between;
        padding: 0 5%;
    }
    .contact-us--title {
        padding: 5% 0;
    }
    /* Footer 1024px
   ========================================================================= */
    .footer--container {
        flex-direction: column;
    }
    .social-media--list {
        padding: 35px 35%;
    }
    .contact-me--container .contact-me-title {
        padding: 0 11%;
    }
}